:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;


	/* surface colors */

	--x-high-surface: #8C8C9A;
	--x-low-surface:#FFFFFF;
	--brand-surface: #0050FF;
	--danger-surface: #DC2828;
	--danger-variant-surface: #FFDCDC;
	--warning-surface: #A56315;
	--warning-variant-surface: #FAF1B6;

	/* content colors */
	--xx-high-content: #2C2C31;
	--medium-content: #8C8C9A;
	--low-content: #C9C9CE;
	--danger-content: #DC2828;
	--warning-content: #A56315;

	/* state colors */
	--hover-state: #1A1A1A0F, 6%;
	--focus-state: #1A1A1ACC, 80%;


}

.label-m {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0.16px;
}

.label-s {
	font-size: 14px;
	font-weight: 550;
	line-height: 17px;
	letter-spacing: 0.16px;
}

.body-m {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.01px;
}


/* Radiuses */
.radius-xs {
	border-radius: 8px;
}

.radius-s {
	border-radius: 12px;
}

.radius-m {
	border-radius: 16px;
}

.radius-l {
	border-radius: 20px;
}